<div class="jumbotron">
    <h1>WEB SERVICE IS UP...</h1>
    <p class="lead">This webservice connects to crm and you can call API</p>
    <p><a href="https://linkedin.com/in/ariarvn" class="btn btn-primary btn-lg">My Linkedin &raquo;</a></p>
    <p class="lead">aria.rvn@gmail.com</p>
    <p><a href="https://github.com/marvinfar/" class="btn btn-primary btn-lg">GitHub &raquo;</a></p>
</div>

